@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/fonts.css";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  font-family: "Inter", sans-serif;
}
.hero-section {
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  background-image: url("../../public/img/mobile-firstBg1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: auto 100%; */
  /* background-size: contain; */
  /* object-fit: cover; */
  /* background-size: cover; */
}
@media screen and (min-width: 320px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: url("../../public/img/mobile-firstBg2x.jpg");
    }
  }
  .hero-section {
    background-image: url("../../public/img/mobile-firstBg1x.jpg");
  }
}
@media screen and (min-width: 768px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: url("../../public/img/tablet-firstbg2x.jpg");
    }
  }
  .hero-section {
    background-image: url("../../public/img/tablet-firstbg1x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: url("../../public/img/desktop-firstbg2x.jpg");
    }
  }
  .hero-section {
    background-image: url("../../public/img/desktop-firstbg1x.jpg");
  }
}
.div {
  width: 100%;
  height: 100%;
  background: #020f0880;
}
.container {
  max-width: 280px;
  margin: 0 auto;
}
.header {
  color: #fff;
  /* min-height: 34px; */
  background: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%);
}
.sec-section {
  width: 100%;
  min-height: 100vh;
  /* height: 100dvh; */
  background-image: url("../../public/img/secBg1x.jpg");
  background-size: cover; /* Растягивает картинку, чтобы она покрыла всю площадь фона */
  background-repeat: no-repeat; /* Запрещает повторение картинки по горизонтали и вертикали */
  background-attachment: fixed;
}
.third-section {
  width: 100%;
  min-height: 100vh;
  /* height: 100dvh; */
  background-image: url("../../public/img/thirdBg1x.jpg");
  background-size: cover; /* Растягивает картинку, чтобы она покрыла всю площадь фона */
  background-repeat: no-repeat; /* Запрещает повторение картинки по горизонтали и вертикали */
  background-attachment: fixed;
}
.text {
  font-weight: 100;
}
.title {
  font-weight: 500;
}
.cont {
  order: -1;
}
@media screen and (min-width: 768px) {
  .cont {
    order: 0;
  }
  .class {
    display: none;
  }
  .container {
    max-width: 704px;
  }
}
.menu-button {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.logo {
  font-family: "Karantina", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.class {
  background: #010a05bf;

  /* transform: translateX(0); */
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.class.isOpen {
  transform: translateX(0);
}
.close-button {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.1em;

  position: absolute;
  right: 20px;
}
.link {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1em;
}
