@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/fonts.css";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  font-family: "Inter", sans-serif;
}
.no-scroll {
  overflow: hidden;
}
.hero-section {
  background-image: url("../../public/img/mobile-firstBg1x.jpg");
}
.about-section {
  background-image: url("../../public/img/mobile-secBg1x.jpg");
}
.services-section {
  background-image: url("../../public/img/mobile-thirdBg1x.jpg");
}
.career-section {
  background-image: url("../../public/img/mobile-fourthBg1x.jpg");
  background-size: 100vw 100vh;
}
.gallery-section {
  background-image: url("../../public/img/mobile-fifthBg1x.jpg");
}
.contacts-section {
  background-image: url("../../public/img/mobile-sixthBg1x.jpg");
}
@media screen and (min-width: 320px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: url("../../public/img/mobile-firstBg2x.jpg");
    }
    .about-section {
      background-image: url("../../public/img/mobile-secBg2x.jpg");
    }
    .services-section {
      background-image: url("../../public/img/mobile-thirdBg2x.jpg");
    }
    .career-section {
      background-image: url("../../public/img/mobile-fourthBg2x.jpg");
    }
    .gallery-section {
      background-image: url("../../public/img/mobile-fifthBg2x.jpg");
    }
    .contacts-section {
      background-image: url("../../public/img/mobile-sixthBg2x.jpg");
    }
  }
  .hero-section {
    background-image: url("../../public/img/mobile-firstBg1x.jpg");
  }
  .about-section {
    background-image: url("../../public/img/mobile-secBg1x.jpg");
  }
  .services-section {
    background-image: url("../../public/img/mobile-thirdBg1x.jpg");
  }
  .career-section {
    background-image: url("../../public/img/mobile-fourthBg1x.jpg");
  }
  .gallery-section {
    background-image: url("../../public/img/mobile-fifthBg1x.jpg");
  }
  .contacts-section {
    background-image: url("../../public/img/mobile-sixthBg1x.jpg");
  }
}
@media screen and (min-width: 768px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: url("../../public/img/tablet-firstbg2x.jpg");
    }
    .about-section {
      background-image: url("../../public/img/tablet-secBg2x.jpg");
    }
    .services-section {
      background-image: url("../../public/img/tablet-thirdBg2x.jpg");
    }
    .career-section {
      background-image: url("../../public/img/tablet-fourthBg2x.jpg");
    }
    .gallery-section {
      background-image: url("../../public/img/tablet-fifthBg2x.jpg");
    }
    .contacts-section {
      background-image: url("../../public/img/tablet-sixthBg2x.jpg");
    }
  }
  .hero-section {
    background-image: url("../../public/img/tablet-firstbg1x.jpg");
  }
  .about-section {
    background-image: url("../../public/img/tablet-secBg1x.jpg");
  }
  .services-section {
    background-image: url("../../public/img/tablet-thirdBg1x.jpg");
  }
  .career-section {
    background-image: url("../../public/img/tablet-fourthBg1x.jpg");
  }
  .gallery-section {
    background-image: url("../../public/img/tablet-fifthBg1x.jpg");
  }
  .contacts-section {
    background-image: url("../../public/img/tablet-sixthBg1x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: url("../../public/img/desktop-firstbg2x.jpg");
    }
    .about-section {
      background-image: url("../../public/img/desktop-secBg2x.jpg");
    }
    .services-section {
      background-image: url("../../public/img/desktop-thirdBg2x.jpg");
    }
    .career-section {
      background-image: url("../../public/img/desktop-fourthBg2x.jpg");
    }
    .gallery-section {
      background-image: url("../../public/img/desktop-fifthBg2x.jpg");
    }
    .contacts-section {
      background-image: url("../../public/img/desktop-sixthBg2x.jpg");
    }
  }
  .hero-section {
    background-image: url("../../public/img/desktop-firstbg1x.jpg");
  }
  .about-section {
    background-image: url("../../public/img/desktop-secBg1x.jpg");
  }
  .services-section {
    background-image: url("../../public/img/desktop-thirdBg1x.jpg");
  }
  .career-section {
    background-image: url("../../public/img/desktop-fourthBg1x.jpg");
  }
  .gallery-section {
    background-image: url("../../public/img/desktop-fifthBg1x.jpg");
  }
  .contacts-section {
    background-image: url("../../public/img/desktop-sixthBg1x.jpg");
  }
}

.menu-button {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.logo {
  font-family: "Karantina", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.mobile-menu {
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.isOpen {
  transform: translateX(0);
}
.close-button {
  font-family: "Inter", sans-serif;
}
.link {
  font-family: "Inter", sans-serif;
}
.services-section div.container .swiper-container .swiper .swiper-pagination {
  font-size: 20px;
  line-height: 17px;
  top: 350px;
  display: grid;
  height: 166px;
  text-align: inherit;
}
.services-section .swiper-pagination .swiper-pagination-bullet {
  font-weight: 200;
  display: inline;
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 16px;
}
.services-section .swiper-pagination .swiper-pagination-bullet-active {
  font-weight: 500;
}
.services-section .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: white;
  transform: rotate(45deg);
}
.services-section .swiper-container .swiper {
  position: sticky;
  overflow-y: visible;
}
.services-section .swiper-container .swiper .swiper-wrapper {
  position: sticky;
}
.services-section .swiper-wrapper .swiper-slide {
  position: sticky;
}
@media screen and (min-width: 768px) {
  .services-section div.container .swiper-container .swiper .swiper-pagination {
    top: 0;
    left: auto;
    right: -483px;
    text-transform: uppercase;
    gap: 16px;
  }
  .services-section .swiper-pagination .swiper-pagination-bullet {
    font-size: 22px;
    line-height: 18px;
    width: 202px;
  }
  .gallery-section .swiper-3d .swiper-slide-shadow-left,
  .gallery-section .swiper-3d .swiper-slide-shadow-right {
    height: 100%;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.729),
      rgba(0, 0, 0, 0.462)
    );
  }
  .gallery-section .swiper-slide img {
    display: block;
    width: 415px;
  }
}
@media screen and (min-width: 1280px) {
  .services-section div.container .swiper-container .swiper .swiper-pagination {
    top: 0;
    left: auto;
    right: -627px;
    text-transform: uppercase;
    gap: 16px;
  }
  .services-section .swiper-pagination .swiper-pagination-bullet {
    font-size: 22px;
    line-height: 18px;
    width: 202px;
  }
  .gallery-section .swiper-3d .swiper-slide-shadow-left,
  .gallery-section .swiper-3d .swiper-slide-shadow-right {
    height: 100%;
  }

  .gallery-section .swiper-3d .swiper-slide-next img {
    display: inline-block;
    height: auto;
  }
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  height: max-content;
}
#checkbox {
  appearance: none;
  -webkit-appearance: none;
}
#checkbox:checked + .checkbox-icon {
  opacity: 1;
}
.gallery-section div.container .swiper-container .swiper .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-section .div div.container .swiper {
  height: 100vh;
}

.gallery-section .container .swiper {
  width: 100%;
}
.gallery-section div.container .swiper-button-next::after,
.gallery-section div.container .swiper-button-prev::after {
  content: "";
}
.gallery-section div.container .swiper-button-next,
.gallery-section div.container .swiper-button-prev {
  color: #fff;
}
.gallery-section div.container .swiper-button-next:hover,
.gallery-section div.container .swiper-button-prev:hover,
.gallery-section div.container .swiper-button-next:focus,
.gallery-section div.container .swiper-button-prev:focus {
  color: #ffffff75;
}
.gallery-section div.container .swiper-button-next {
  right: 55px;
}
.gallery-section div.container .swiper-button-prev {
  left: 55px;
}
.gallery-section .swiper-button-next,
.gallery-section .swiper-button-prev {
  top: 702px;
}
.gallery-section div.container .swiper-slide img {
  width: 100%;
}
